@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: black;
}
html,
body {
  height: calc(
    100vh - constant(safe-area-inset-top) - constant(safe-area-inset-bottom)
  ); /* iOS specific */
  height: calc(
    100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom)
  );
  height: 100vh; 
  overflow-y: auto;
}
.css-hyum1k-MuiToolbar-root {
  background-color: white !important;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  flex-wrap: wrap;
}
.table_head {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.table_body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dataset_head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2px;
}
